body {
  margin: 0;
  width: 330px;
  height: 500px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  overflow: auto;
  overflow-y: scroll;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

div {
  box-sizing: border-box;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}


#back-icon, #close-icon {
  display: block;
  top: 20px;
  position: fixed;
  cursor: pointer;
  opacity: 1;
  width: 16px;
  height: 16px;
}

#back-icon {
  left: 10px;
}

#close-icon {
  right: 10px;
}

#close-icon:hover, #back-icon:hover {
  opacity: 1;
}

.read {
  font-size: 11px;
  padding: 0 15px;
  line-height: 20px;
  border-radius: 5px;
  border: 0.5px solid black;
  display: inline-block;
}

.read.small {
  font-size: 9px;
  padding: 0 12px;
  line-height: 18px;
  border-radius: 50px;
  border: 0.8px solid black;
  display: inline-block;
}

a.read {
  color: black;
  text-decoration: none;
  -webkit-transition: background-color 200ms;
  transition: background-color 200ms;
}

a.read:hover {
  color: white;
  background-color: black;
  -webkit-transition: background-color 200ms, color 200ms;
  transition: background-color 200ms, color 200ms;
}

hr {
  clear: both;
}

hr.thin {
  border: none;
  border-top: 0.5px solid black;
  margin: 5px 0;
}

hr.thick {
  border: none;
  border-top: 1px solid black;
  margin: 5px 0;
}

.margin-btm {
  margin-bottom: 5px;
}

.margin-top {
  margin-top: 5px;
}